img{
border-radius:50%;
border:5px dotted white;
display:inline-block;
}
#dd{
border-radius:50%;
border:5px dotted white;
display:inline-block;
}
img{
border-radius:50%;
border:5px dotted white;
display:inline-block;
}
body{
background-color:blue;
}
