body{
background-color:#5CF893;
}
h1{
color:purple;
}
p{color:yellow;
}
#dark{
color:black;
background-color:white;
}
#red{
color:red;
}
ol{
color:blue;
}
#krivoy{
font-style:italic;
}
#d44zy{
text-decoration:underline
}
#d4zzy{
text-decoration:line-through
}
#hren{
font-weight:bold;
}
#vamos{
text-align:center;
}
#rer{
font-size:40px;
}